<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payuni>
                <active>0</active>
                <model>PAYUNi\Upp\Model\PaymentMethod</model>
                <order_status>pending_payment</order_status>
                <payment_action>sale</payment_action>
                <title>統一金流 PAYUNi</title>
                <test_mode>1</test_mode>
                <currency>NTD</currency>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <!-- <sort_order>1</sort_order> -->
            </payuni>
        </payment>
    </default>
</config>
